<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vedantmehra.homepage2">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Student Entrepreneur"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomePage" />
        <activity android:name=".NewPage" />
        <activity android:name=".notification" />
        <activity android:name=".Request" />
        <activity android:name=".profile_student_1" />
        <activity android:name=".profile_student" />
        <activity android:name=".profile_student_edit" />
        <activity android:name=".idea" />
        <activity android:name=".dummypage" />
        <activity android:name=".relation" />
        <activity android:name=".EventPage" />
        <activity android:name=".mentor_profile" />
        <activity android:name=".MainActivityHome" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PasswordActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".RegistrationInvestor" />
        <activity android:name=".RegistrationStudent" />
        <activity android:name=".changepassword" />
        <activity android:name=".NotificationMain" />
        <activity android:name=".RequestPage" />
        <activity android:name=".ProfilePage"></activity>
    </application>

</manifest>